<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <title>Home Page</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Welcome to Cookbook</h1>
        <% if (user) { %>
        <h2 class="subtitle"><%= user.username %>'s personal recipe collection</h2>
        <% } else { %>
        <h2 class="subtitle">Your personal recipe collection</h2>
        <% } %>
      </div>
    </div>
</body>
</html>
