<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="section">
      <div class="container" style="max-width: fit-content;">
        <h1 class="title">Edit Food Item</h1>
        <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=PUT" method="POST" class="box is-flex-direction-row is-flex is-align-items-center">
            <label class="label" for="name">Name</label>
            <input class="input" type="text" id="name" name="name" value="<%= item.name %>" required />
          <button type="submit" class="button">Update</button>
        </form>
      </div>
    </section>
  </body>
</html>