<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="is-size-3">Edit Food Item</h1>
    <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=PUT" method="POST">
      <label for="name">Food Name:</label>
      <input style="max-width: 200px;" class="input" type="text" id="name" name="name" value="<%= item.name %>" required />
      <button type="submit" class="button">Update</button>
    </form>
  </body>
</html>