<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="section">
      <div class="container">
        <h1 class="title">Add New Food Item</h1>
        <div class="content">
          <form action="/users/<%= user._id %>/foods" method="POST" class="box is-flex is-flex-direction-row is-align-items-center is-justify-content-center is-gap-2" style="max-width: 450px;">
              <label class="label" for="name">Food Name</label>
              <input class="input" style="max-width: 200px;" type="text" name="name" placeholder="Food Name" required />
              <button type="submit" class="button">Save</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>